body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E4E2E2;
}

.margin-content{
	margin-top: 75px;
}

a {
  color: #00B7FF;
}

.glyphicon{
	font-size: 20px;
}

.content-panel{
	text-align: justify;
}

.panel-default{
	padding: 20px;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
}

.btn-post{
	margin-top: 25px;
	margin-left: -20px;
	white-space: normal;
}

.div-save{
	text-align: center;
}

