extends layout

block append js
	script(src="/js/ckeditor/ckeditor.js")
	script(src="/js/require.js")

block content
	div(class='container margin-content')
		div.row
			div.col-xs-10
				h1 Crear post nuevo
			div.col-xs-2

		div(class='row panel-form')
			div(class='panel panel-default form-group')
				form(method='post' action='/add' name='formPost')
					div.row
						div.col-xs-12
							label Titulo del Post:

					div.row 
						div.col-xs-12
							input(type='text' name='title' class='form-control' id='title')
					br/
					div.row
						div.col-xs-12
							label Contenido: 

					div.row
						div.col-xs-12
							textarea(name='content' rows='7' class='form-control')
					br/
					div(class='row div-save')						
						hr(class='style2')
						input(type='submit' class='btn btn-success' value='Guardar')

