extends layout

block append js
	script(src="/js/ckeditor/ckeditor.js")
	script(src="/js/require.js")

block content
	div(class='container margin-content')
		div.row
			div.col-xs-10
				h1 Editar Post
				
			div.col-xs-2
		div.row
			div(class='row panel-form')
				div(class='panel panel-default form-group')
					form(method='POST' name='formEditPost' id='formEditPost')

						div.row
							div.col-xs-12
								label Titulo del Post: 

						div.row
							div.col-xs-12
								input(type='text' name='title' class='form-control' id='title'  value='#{post.title}')
						br/
						div.row
							div.col-xs-12
								label Contenido: 

						div.row
							div.col-xs-12
								textarea(name='content' rows='7' class='form-control') #{post.content}
						br/
						div(class='row div-save')						
							hr(class='style2')
							input(type='submit' class='btn btn-success' value='Guardar' id='btn-update' id_data='#{post.id}')


	