extends layout

block content
	div(class='container margin-content')
		div.row
			article
				div.row
					- for (var i = 0; i < post.length; i++){
						div(class='col-xs-12 col-md-5')
							
							div(class='panel panel-default')

								div(class='panel-heading')
									h3
										a(href='/post/#{post[i].id}') #{post[i].title}

								div(class='panel-body content-panel')
									p !{post_r[i]}...

								div(class='panel-footer')
									div.row
										div.col-xs-10
											small.
												#{post[i].created}
					- }

			
