doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
        script(src='/js/jquery-1.12.0.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/main.js')
        
  body
    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container")
          div.row
            div.col-xs-10
              h1
                a(href='/') Bloggor
            div.col-xs-2
              a(type='subtmit' class='btn btn-success btn-post' value='Agregar Post' href='/add').
                Post

    block content
