extends layout

block content
	div(class='container margin-content')
		div.row
			article
			
				div(class='panel panel-default')

					div(class='panel-heading')
						div.row
							div.col-xs-10
								h3 #{post.title}
							div.col-xs-1
								a(href='/edit/#{post.id}') <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							div.col-xs-1
								a(href='/delete/#{post.id}') <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>

					div(class='panel-body content-panel')
						p !{post.content}

					div(class='panel-footer')
						div.row
							div.col-xs-10
								small.
									#{post.created}